<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQlgNltx2WR1yC8XAACvZw04QHVeKNFb8</string>
	<key>GCM_SENDER_ID</key>
	<string>191648214263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aryatech.cricketlivescore</string>
	<key>PROJECT_ID</key>
	<string>ios-live-cricket-score-tv</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-live-cricket-score-tv.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191648214263:ios:0a94bca14e6820e593b7f2</string>
</dict>
</plist>